@font-face {
    font-family: "Roboto";
    src: url(../../assets/fonts/Roboto.ttf);
}

body, html, ul, ol, li, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1600px;
}

.start-section {
    background-image: url(../../assets/images/giant-panda.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-section {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 15px 220px;
    z-index: 1;
}

.start {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo-section {
    border: 1px solid #fff;
    padding: 3.5px 5px;
    margin-right: 63px;
    width: 82px;
}

.logo-link {
    text-decoration: none;
}

.logo-icon {
    left: 236px;
    position: absolute;
    top: 40px;
}

.logo-title {
    color: #fff;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: #fff;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
}

.nav-item {
    list-style: none;
    padding-right: 58px;
}

.highlighted {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.designer-link {
    color: #fff;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
}

.active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.burger-menu {
    display: none;
}

.menu-container {
    display: none;
}

@media screen and (max-width: 1570px) {
    .header-section {
        padding: 15px 180px;
    }
    .logo-icon {
        left: 200px;
    }
}

@media screen and (max-width: 1500px) {
    .header-section {
        padding: 15px 150px;
    }
    .logo-icon {
        left: 170px;
    }
}

@media screen and (max-width: 1440px) {
    .header-section {
        padding: 15px 120px;
    }
    .logo-icon {
        left: 140px;
    }
}

@media screen and (max-width: 1300px) {
    .header-section {
        padding: 15px 90px;
        position: relative;
    }
    .logo-section {
        padding: 3px 0;
    }
    .logo-icon {
        left: 105px;
    }
}

@media screen and (max-width: 1150px) {
    .header-section {
        padding: 15px 30px;
    }
    .logo-icon {
        left: 45px;
    }
    .nav-item {
        padding-right: 48px;
    }
}

@media screen and (max-width: 1000px) {
    .header-section {
        padding: 15px 30px;
    }
    .logo-icon {
        left: 45px;
    }
    .nav-item {
        padding-right: 48px;
    }
}

@media screen and (max-width: 999px) {
    .header-section {
        padding: 3px 20px;
        position: fixed;
        width: -webkit-fill-available;
        z-index: 50;
    }
    .logo-section {
        border: none;
        padding: 0;
    }
    .logo-title {
        font-size: 12px;
        line-height: 15px;
        width: 47px;
    }
    .logo-icon {
        left: 26px;
        top: 18px;
        width: 7px;
    }
    .nav-section {
        display: none;
    }
    .designer-section {
        display: none;
    }
    .burger-menu {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 10px;
        justify-content: space-between;
    }
    .burger-line {
        background-color: #fff;
        height: 2px;
        width: 18px;
    }
    .block {
        display: block;
    }
    .menu-container {
        background-color: #fff;
        left: 0;
        padding: 10px 10px 40px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    .menu-item {
        color: #333B41;
        font-size: 16px;
        line-height: 22px;
        list-style: none;
        padding-bottom: 15px;
    }
    .menu-item:last-child {
        padding-bottom: 0;
    }
    .menu-link {
        color: #333B41;
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        text-decoration: none;
    }
    .menu-logo-container {
        border: 1px solid #fe9013;
        width: 66px;
    }
    .menu-logo-icon {
        left: 11px;
        position: absolute;
        top: 20px;
    }
    .menu-logo-title {
        color: #fe9013;
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
        width: 66px;
    }
    .logo-cross {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        position: relative;
    }
    .cross-container {
        cursor: pointer;
        height: 18px;
        padding: 5px;
        position: absolute;
        right: 30px;
        top: 10px;
        transition: background-color .3s;
    }
    .cross-container:hover {
        background-color: rgba(254, 144, 19, .5);
    }
}

@media screen and (max-width: 639px) {
    .header-section {
        padding: 3px 10px;
    }
    .logo-section {
        width: 47px;
    }
    .logo-title {
        font-size: 13px;
        line-height: 15px;
    }
    .logo-icon {
        left: 15px;
        top: 18px;
        width: 7px;
    }
}

.start-content {
    align-items: end;
    display: flex;
    justify-content: center;
    padding: 12px 319px 100px;
    flex-direction: column;
}

.start-descr {
    display: flex;
    padding-right: 9px;
}

.start-title {
    color: #fff;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 106px;
    font-weight: 700;
    left: calc(50% - 298px/2 + 220px);
    line-height: 80px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 166px;
    width: 500px;
}

.start-title-another {
    color: #ffee2e;
}

.start-button-section {
    padding-top: 60px;
}

.start-button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 16px 100px;
    text-transform: uppercase;
    transition: .3s color ease;
}

.start-button:hover {
    background: #E47209;
}

.start-button:active {
    background: #4B9200;
}

.ellipse-img {
    z-index: 0;
}

.in-backstage {
    display: none;
}

@media screen and (max-width: 1570px) {
    .start-content {
        padding: 12px 280px 100px;
    }
    .start-title {
        left: calc(50% - 258px/2 + 180px);;
    }
}

@media screen and (max-width: 1500px) {
    .start-content {
        padding: 12px 250px 100px;
    }
    .start-title {
        left: calc(50% - 228px/2 + 150px);;
    }
}

@media screen and (max-width: 1440px) {
    .start-content {
        padding: 12px 220px 100px;
    }
    .start-title {
        left: calc(50% - 198px/2 + 120px);;
    }
}

@media screen and (max-width: 1300px) {
    .start-content {
        padding: 0 200px 50px;
    }
    .start-title {
        left: calc(50% - 198px/2 + 120px);;
    }
    .ellipse-img {
        bottom: 12px;
        position: relative;
        width: 400px;
    }
    .start-title {
        font-size: 90px;
        line-height: 70px;
        top: 130px;
    }
}

@media  screen and (max-width: 1150px) {
    .ellipse-img {
        width: 367px;
    }
    .start-content {
        padding-right: 177px;
    }
    .start-title {
        font-size: 85px;
        left: calc(50% - 130px/2 + 60px);
        line-height: 64px;
        top: 120px;
        width: 400px;
    }
    .start-button-section {
        padding-top: 55px;
    }
}

@media  screen and (max-width: 1000px) {
    .ellipse-img {
        width: 367px;
    }
    .start-content {
        padding-right: 177px;
    }
    .start-title {
        font-size: 85px;
        left: calc(50% - 130px/2 + 60px);
        line-height: 64px;
        top: 120px;
        width: 400px;
    }
    .start-button-section {
        padding-top: 55px;
    }
}

@media screen and (max-width: 999px) {
    .start-content {
        padding: 44px 70px 40px 20px;
    }
    .ellipse-img {
        width: 270px;
        position: static;
    }
    .start-title {
        font-size: 60px;
        left: calc(50% - 2px/2 + 80px);
        line-height: 50px;
        top: 70px;
        width: 300px;
    }
    .start-button {
        margin-right: 360px;
    }
}

@media screen and (max-width: 768px) {
    .ellipse-img {
        width: 238px;
    }
    .start-title {
        font-size: 54px;
        left: calc(50% - 2px/2 + 20px);
        line-height: 41px;
        top: 80px;
        width: 300px;
    }
    .start-button-section {
        padding-top: 0;
    }
    .start-button {
        margin-right: 230px;
    }
}

@media screen and (max-width: 640px) {
    .ellipse-img {
        width: 238px;
    }
    .start-title {
        font-size: 54px;
        left: calc(50% - 2px/2 + 20px);
        line-height: 41px;
        top: 80px;
        width: 300px;
    }
    .start-button-section {
        padding-top: 0;
    }
    .start-button {
        margin-right: 230px;
    }
}

@media screen and (max-width: 639px) {
    .start-content {
        padding: 56px 30px 45px 20px;
    }
    .ellipse-img {
        width: 119px;
    }
    .start-title {
        font-size: 28px;
        left: calc(50% - 2px/2 + 10px);
        line-height: 21px;
        top: 70px;
        width: 130px;
    }
    .in-start {
        display: none;
    }
    .start-button {
        margin: 0;
    }
}

.backstage-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 0 16px 219px;
}

.backstage-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.small-backstage {
    display: none;
}

.backstage-description {
    padding-left: 87px;
}

.backstage-title {
    color: #333B41;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 58px;
    padding-bottom: 20px;
}

.backstage-title:first-child {
    padding-bottom: 0;
}

.backstage-text {
    color: #333B41;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
}

.backstage-subtitle {
    color: #333B41;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 34px;
    padding-top: 54px;
}

.backstage-decoration {
    padding-left: 20px;
}

.small-flower {
    display: none;
}

@media screen and (max-width: 1570px) {
    .backstage-section {
        padding: 20px 0 20px 178px;
    }
    .backstage-description {
        padding-left: 65px;
    }
    .backstage-flower {
        width: 170px;
    }
}

@media screen and (max-width: 1500px) {
    .backstage-section {
        padding: 20px 0 20px 160px;
    }
    .backstage-description {
        padding-left: 55px;
    }
    .backstage-flower {
        width: 150px;
    }
}

@media screen and (max-width: 1440px) {
    .backstage-section {
        padding: 110px 0 60px 130px;
    }
    .backstage-description {
        padding-left: 50px;
    }
    .backstage-img {
        width: 550px;
    }
    .backstage-flower {
        width: 120px;
    }
}

@media screen and (max-width: 1300px) {
    .backstage-section {
        padding: 110px 90px 60px;
    }
    .backstage-description {
        padding-left: 30px;
    }
    .backstage-img {
        width: 450px;
    }
    .backstage-flower {
        display: none;
    }
}

@media  screen and (max-width: 1150px) {
    .big-backstage {
        display: none;
    }
    .small-backstage {
        display: block;
    }
    .backstage-section {
        padding: 110px 30px 60px;
    }
    .backstage-title {
        font-size: 44px;
    }
}

@media  screen and (max-width: 1000px) {
    .big-backstage {
        display: none;
    }
    .small-backstage {
        display: block;
    }
    .backstage-section {
        padding: 110px 30px 60px;
    }
}

@media  screen and (max-width: 999px) {
    .backstage-section {
        padding: 0 0 10px 20px;
    }
    .backstage-image-section {
        display: none;
    }
    .big-flower {
        display: block;
        width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .backstage-flower {
        height: 476px;
        width: 130px;
    }
    .backstage-description {
        padding-left: 0;
        padding-top: 60px;
    }
}

@media screen and (max-width: 640px) {
    .backstage-flower {
        height: 476px;
        width: 130px;
    }
    .backstage-description {
        padding-left: 0;
        padding-top: 60px;
    }
}

@media screen and (max-width: 639px) {
    .in-backstage {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 20px;
    }
    .start-button {
        padding: 16px 90px;
    }
    .backstage-decoration {
        padding-left: 0;
    }
    .backstage-title {
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 10px;
    }
    .big-flower {
        display: none;
    }
    .small-flower {
        display: block;
        height: auto;
        position: relative;
        bottom: 100px;
        width: auto;
        bottom: 140px;
    }
    .backstage-subtitle {
        padding-bottom: 10px;
        padding-top: 20px;
    }
}

.animals-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 1120px;
    padding-top: 90px;
}

.animals {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 130px;
}

.animal-arrow {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 62px;
    margin: 0 5px;
    transition: .3s color ease;
    width: 62px;
}

.animal-arrow:hover {
    background: #E47209;
}

.animal-arrow:active {
    background: #4B9200;
}

.outter-arrow {
    margin-bottom: 20px;
}

.right-arr {
    transform: rotate(180deg);
}

.animal-card {
    border: 1px solid #FA6F32;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px 20px;
    z-index: 1;
}

.animal-card:hover>.animal-content {
    animation-duration: 3s;
    animation-name: animals;
    background-color: rgba(255, 255, 255, .7);
    bottom:68px;
}

@keyframes animals {
    0%   {bottom:0px;}
    100%  {bottom:68px;}
  }

.animal-photo {
    height: 366px;
}

.arrows-inside {
    display: none;
}

.animal-container {
    display: flex;
}

.animal-content {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px 13px 16px;
    position: relative;
    transition: 3s;
    z-index: 1;
}

.animal-title {
    color: #000;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
}

.animal-text {
    color: #000;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

.animals-button-section {
    padding-top: 60px;
    z-index: 1;
}

.animals-button {
    background: #FE9013;
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding: 16px 0;
    text-transform: uppercase;
    transition: .3s background-color ease, .3s color ease;
    width: 298px;
}

.animals-button:hover {
    background-color: #E47209;
}

.animals-button:active {
    background-color: #4B9200;
}

.animals-flowers {
    bottom: 360px;
    display: flex;
    height: 460px;
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 0;
}

.small-palm {
    display: none;
}

.right-decoration-animal {
    align-items: end;
    display: flex;
}

@media screen and (max-width: 1570px) {
    .animals {
        padding: 0 95px;
    }
    .animal-arrow {
        margin: 0;
    }
}

@media screen and (max-width: 1500px) {
    .animals {
        padding: 0 75px;
    }
}

@media screen and (max-width: 1440px) {
    .animals {
        padding: 0 65px;
    }
    .animals-section {
        height: 1030px;
    }
    .animal-photo {
        height: 320px;
    }
    .animal-img {
        width: 320px;
    }
}

@media screen and (max-width: 1300px) {
    .outter-arrow {
        display: none;
    }
    .arrows-inside {
        display: block;
        margin-bottom: 15px;
    }
    .animal-rows {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .animal-arrow {
        margin: 0 85px;
    }
    .animal-card {
        margin: 0 15px 15px;
    }
    .animals-section {
        height: 1130px;
    }
    .animal-photo {
        height: 300px;
    }
    .animal-img {
        width: 300px;
    }
    .animals-button-section {
        padding-top: 65px;
    }
    .big-palm {
        display: none;
    }
    .small-palm {
        display: block;
    }
    .animals-flowers {
        align-items: flex-end;
        bottom: 104px;
        padding-top: 70px;
    }
    .flower-animal {
        width: 240px;
    }
}

@media  screen and (max-width: 1150px) {
    .animals-section {
        height: 1120px;
    }
    .animals {
        padding: 0;
    }
    .animal-photo {
        height: 295px;
    }
    .animal-img {
        width: 295px;
    }
}

@media  screen and (max-width: 1000px) {
    .animals-section {
        height: 1120px;
    }
    .animals {
        padding: 0;
    }
    .animal-photo {
        height: 295px;
    }
    .animal-img {
        width: 295px;
    }
}

@media  screen and (max-width: 999px) {
    .animals-section {
        height: 1033px;
    }
    .animal-card:last-child {
        display: none;
    }
    .animals {
        padding: 0 20px;
    }
    .animals-button-section {
        padding-top: 50px;
    }
    .animals-flowers {
        padding-top: 60px;
    }
    .small-palm {
        width: 135px;
    }
    .flower-animal {
        width: 175px;
    }
    .animal-arrow {
        margin: 0 15px;
    }
}

@media screen and (max-width: 768px) {
    .animals-section {
        height: 1014px;
        padding-top: 70px;
    }
    .animals {
        padding: 0;
    }
    .animal-photo {
        height: 285px;
    }
    .animal-img {
        width: 285px;
    }
}

@media screen and (max-width: 640px) {
    .animals-section {
        height: 1014px;
        padding-top: 70px;
    }
    .animals {
        padding: 0;
    }
    .animal-photo {
        height: 285px;
    }
    .animal-img {
        width: 285px;
    }
}

@media screen and (max-width: 639px) {
    .animals-section {
        padding-top: 30px;
    }
    .animal-container {
        flex-direction: column;
    }
    .arrows-inside {
        display: none;
    }
    .animals-section {
        height: 1602px;
    }
    .animal-card {
        margin-bottom: 20px;
    }
    .animals-button-section {
        padding-top: 0;
    }
    .small-palm {
        width: 60px;
    }
    .flower-animal {
        width: 70px;
    }
    .animals-flowers {
        padding-top: 95px;
    }
}

.feed-section {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 70px 220px 100px;
    opacity: .9;
}

.feed-container {
    align-items: center;
    background-color: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px 50px 60px 100px;
}

.feed-title {
    color: #FE9013;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    padding-bottom: 30px;
    padding-right: 50px;
    text-align: center;
}

.feed-subtitle {
    color: #333B41;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 40px;
}

.feed-attention {
    color: #333B41;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    padding-bottom: 10px;
}

.feed-text {
    color: #333B41;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-right: 130px;
}

.feed-link {
    border-bottom: 1px solid #FE9013;
    color: #333B41;
    text-decoration: none;
}

.how-feed-container {
    padding-right: 50px;
    padding-top: 60px;
}

.how-title {
    color: #333B41;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: center;
}

.feed-process-container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.feed-card {
    width: 168px;
}

.feed-illustration {
    background-color: white;
    border: 1px solid #F9804B;
    border-radius: 5px;
    height: 168px;
    text-align: center;
    width: 168px;
}

.pay {
    padding-top: 54px;
}

.zoo {
    padding-top: 38px;
}

.monkey {
    padding-top: 48px;
}

.green {
    display: none;
}

.feed-arr-container {
    padding-top: 62px;
}

.how-element {
    padding-right: 30px;
}

.how-element:last-child {
    padding-right: 0;
}

.feed-card-text {
    color: #333B41;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 30px;
}

.feed-button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-right: 50px;
    margin-top: 60px;
    padding: 16px 0;
    text-transform: uppercase;
    transition: .3s color ease;
    width: 300px;
}

.feed-button:hover {
    background: #E47209;
}

.feed-button:active {
    background: #4B9200;
}

@media screen and (max-width: 1570px) {
    .feed-section {
        padding: 70px 180px 100px;
    }
}

@media screen and (max-width: 1500px) {
    .feed-section {
        padding: 70px 150px 100px;
    }
}

@media screen and (max-width: 1440px) {
    .feed-section {
        padding: 70px 120px 100px;
    }
}

@media screen and (max-width: 1300px) {
    .feed-section {
        padding: 60px 90px;
    }
}

@media screen and (max-width: 1150px) {
    .feed-section {
        padding: 30px;
    }
    .feed-container {
        padding: 30px 50px 50px 50px;
    }
    .how-feed-container {
        padding-right: 0;
        padding-top: 40px;
    }
    .feed-title {
        padding-right: 0;
    }
}

@media screen and (max-width: 1000px) {
    .feed-section {
        padding: 30px;
    }
    .feed-container {
        padding: 30px 50px 50px 50px;
    }
    .how-feed-container {
        padding-right: 0;
        padding-top: 40px;
    }
    .feed-title {
        padding-right: 0;
    }
}

@media screen and (max-width: 999px) {
    .feed-section {
        padding: 20px 0;
    }
    .feed-container {
        padding: 10px 20px 60px;
    }
    .how-element {
        padding-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    .grey {
        display: none;
    }
    .green {
        display: block;
    }
    .feed-arr-container {
        position: relative;
    }
    .green {
        position: absolute;
    }
    .how-element {
        bottom: 70px;
        padding-right: 20px;
        right: 50px;
    }
}

@media screen and (max-width: 640px) {
    .grey {
        display: none;
    }
    .green {
        display: block;
    }
    .feed-arr-container {
        position: relative;
    }
    .green {
        position: absolute;
    }
    .how-element {
        bottom: 70px;
        padding-right: 20px;
        right: 50px;
    }
}

@media screen and (max-width: 639px) {
    .feed-section {
        padding: 20px 10px;
    }
    .feed-container {
        padding: 20px 0 40px;
    }
    .feed-title {
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 10px;
    }
    .feed-attention {
        display: none;
    }
    .feed-text {
        display: none;
    }
    .feed-subtitle {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 0;
        text-align: center;
    }
    .how-feed-container {
        padding-top: 20px;
    }
    .how-title {
        font-size: 24px;
        line-height: 29px;
    }
    .feed-card-text {
        padding-top: 10px;
    }
    .feed-process-container {
        flex-direction: column;
        padding-top: 20px;
    }
    .feed-arr-container {
        display: flex;
        justify-content: flex-end;
        padding-top: 40px;
    }
    .how-element {
        bottom: 60px;
        padding-right: 0;
        left: 60px;
        right: 0;
    }
    .green {
        transform: rotate(90deg);
    }
    .feed-button {
        margin-right: 0;
        margin-top: 40px;
    }
}

.testimonials-section {
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: space-between;
    padding-top: 140px;
}

.testimonials-title {
    color: #333B41;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: center;
}

.user-comments-container {
    display: flex;
    justify-content: space-between;
    padding: 47px 205px 21px;
}

.testimonials-border {
    align-items: center;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    width: 267px;
    z-index: 0;
}

.comment-card {
    background-color: #F1F3F2;
    border-radius: 20px;
    margin: 2px;
    padding: 15px 15px 20px;
    z-index: 1;
}

.user-info {
    align-items: center;
    display: flex;
    padding-bottom: 10px;
}

.user-description {
    padding-left: 10px;
}

.user-name {
    color: #000;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 1px;
}

.user-online {
    color: #BDBDBD;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
}

.user-text {
    color: #767474;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
}

.testimonials-comment {
    height: 308px;
    overflow: hidden;
}

.comments-slider {
    align-items: center;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: 5px;
    display: flex;
    height: 10px;
    justify-content: center;
    margin: 0 500px;
    width: 602px;
}

.slider {
    background-color: #F5F7F6;
    border-radius: 5px;
    cursor: pointer;
    height: 8px;
    outline: none;
    transition: .3s;
    -webkit-appearance: none;
    -webkit-transition: .2s;
    width: 600px;
}

.slider:hover {
    background-color: #F1F3F2;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    background-color: #FE9013;
    border-radius: 5px;
    cursor: pointer;
    height: 8px;
    -webkit-appearance: none;
    width: 120px;
}

.slider::-moz-range-thumb {
    width: 600px;
    height: 8px;
    background-color: #FE9013;
    cursor: pointer;
}

.testimonials-button-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 32px;
    padding-left: 220px;
    z-index: 1;
}

.testimonials-button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding: 16px 0;
    text-transform: uppercase;
    transition: .3s color ease;
    width: 298px;
}

.testimonials-button:hover {
    background: #E47209;
}

.testimonials-button:active {
    background: #4B9200;
}

.testimonials-decoration {
    bottom: 50px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    z-index: 0;
}

@media screen and (max-width: 1570px) {
    .user-comments-container {
        padding: 47px 180px 21px;
    }
    .comments-slider {
        margin: 0 460px;
    }
}

@media screen and (max-width: 1500px) {
    .user-comments-container {
        padding: 47px 150px 21px;
    }
    .comments-slider {
        margin: 0 430px;
    }
}

@media screen and (max-width: 1440px) {
    .user-comments-container {
        padding: 47px 120px 21px;
    }
    .testimonials-border {
        margin: 0 8px;
    }
    .comments-slider {
        margin: 0 400px;
    }
}

@media screen and (max-width: 1300px) {
    .testimonials-section {
        padding-top: 100px;
    }
    .user-comments-container {
        padding: 30px 90px 20px;
    }
    .testimonials-border:last-child {
        display: none;
    }
    .testimonials-button-container {
        padding-top: 53px;
        padding-left: 90px;
    }
    .testimonials-border {
        margin: 0 30px;
    }
    .comments-slider {
        margin: 0 420px;
        width: 315px;
    }
    .slider {
        width: 315px;
    }
    .slider::-webkit-slider-thumb {
        width: 75px;
    }
    .comments-slider-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media  screen and (max-width: 1150px) {
    .user-comments-container {
        padding: 30px 15px 20px;
    }
    .testimonials-border {
        margin: 0 15px;
        width: 293px;
    }
    .testimonials-button-container {
        padding-left: 30px;
    }
}

@media  screen and (max-width: 1000px) {
    .user-comments-container {
        padding: 30px 15px 20px;
    }
    .testimonials-border {
        margin: 0 15px;
        width: 293px;
    }
    .testimonials-button-container {
        padding-left: 30px;
    }
}

@media screen and (max-width: 999px) {
    .testimonials-section {
        height: 730px;
        padding-top: 60px;
    }
    .user-comments-container {
        flex-direction: column;
        padding: 30px 20px 0;
    }
    .testimonials-border {
        margin: 0;
        margin-bottom: 15px;
        width: 100%;
    }
    .comment-card {
        height: 110px;
        padding: 15px;
    }
    .testimonials-comment {
        height: 55px;
    }
    .comments-slider {
        display: none;
    }
    .testimonials-button-container {
        justify-content: center;
        padding: 0;
        padding-top: 25px;
    }
    .testimonials-leav {
        width: 160px;
    }
}

@media screen and (max-width: 768px) {
    .testimonials-comment {
        height: 38px;
    }
    .testimonials-border {
        height: 110px;
    }
    .comment-card {
        height: 77px;
    }
    .testimonials-section {
        height: 650px;
        justify-content: normal;
    }
    .testimonials-decoration {
        padding-top: 20px;
    }
    .testimonials-button {
        width: 240px;
    }
}

@media screen and (max-width: 640px) {
    .testimonials-comment {
        height: 38px;
    }
    .testimonials-border {
        height: 110px;
    }
    .comment-card {
        height: 77px;
    }
    .testimonials-decoration {
        padding-top: 0;
    }
}

@media screen and (max-width: 639px) {
    .testimonials-section {
        height: 565px;
        padding-top: 30px;
    }
    .testimonials-title {
        font-size: 24px;
        line-height: 29px;
    }
    .user-comments-container {
        flex-direction: column;
        padding: 20px 10px 0;
    }
    .testimonials-button-container {
        padding-top: 15px;
    }
    .testimonials-leav {
        width: 80px;
    }
    .testimonials-button {
        width: 240px;
    }
    .testimonials-decoration {
        bottom: 45px;
        position: static;
    }
}

.footer-section {
    background-color: #111115;
    padding: 40px 220px 50px;
    z-index: 1;
}

.footer-logo {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.footer-submit {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.subscribe-title {
    color: #fff;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 14px;
}

.subscribe-form {
    display: flex;
    justify-content: space-between;
}

.email-place {
    background-color: #111115;
    border: .7px solid #F9804B;
    border-radius: 2px;
    color: #BDBDBD;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-right: 10px;
    padding: 10px;
    width: 230px;
}

.email-place:focus {
    border: 1px solid #4B9200;
    color: #4B9200;
}

.email-place:focus+.submit-button {
    border: 1px solid #4B9200;
    color: #4B9200;
}

.submit-button {
    background-color: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
    color: #333B41;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    width: 130px;
}

.submit-button:active {
    border: 1px solid #4B9200;
    color: #4B9200;
}

.submit-button:active~.email-place {
    border: 1px solid #4B9200;
    color: #4B9200;
}

.mistaken {
    border: 1px solid #D31414;
    color: #D31414;
}

.footer-button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding: 16px 0;
    text-transform: uppercase;
    transition: .3s color ease;
    width: 298px;
}

.footer-button:hover {
    background: #E47209;
}

.footer-button:active {
    background: #4B9200;
}

.contacts-container {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}

.social-items {
    position: relative;
    top: 100px;
}

.social-item {
    cursor: pointer;
    list-style: none;
    padding-bottom: 10px;
}

.social-item:last-child {
    padding-bottom: 0;
}

.social-link:active > .social-icon-container {
    background-color: #4B9200;
}

.social-link:active > .social-text {
    color: #4B9200;
}

.social-link {
    display: flex;
    text-decoration: none;
}

.social-icon-container {
    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    height: 20px;
    text-align: center;
    padding-top: 5.5px;
    width: 26px;
}

.social-text {
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 12px;
    padding-top: 3px;
}

.footer-nav {
    padding-left: 150px;
    padding-right: 170px;
}

.footer-designer-link {
    cursor: pointer;
    text-decoration: none;
}

.footer-designer-text {
    color: rgba(255, 255, 255, .4);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 21px;
    margin-bottom: 9px;
}

.footer-designer-text:last-child {
    margin-bottom: 0;
}

.footer-designer-link:active > .footer-designer-text {
    border-bottom: 1px solid #4B9200;
    color: rgba(75, 146, 0, .4);
    margin-bottom: 8px;
}

.footer-designer-link:active > .footer-designer-text:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1570px) {
    .footer-section {
        padding: 40px 180px 50px;
    }
}

@media screen and (max-width: 1500px) {
    .footer-section {
        padding: 40px 150px 50px;
    }
}

@media screen and (max-width: 1440px) {
    .footer-section {
        padding: 40px 120px 50px;
    }
}

@media screen and (max-width: 1440px){
    .footer-section {
        padding: 40px 90px 50px;
    }
}

@media  screen and (max-width: 1150px) {
    .footer-section {
        padding: 40px 30px 50px;
    }
    .footer-nav {
        padding-left: 0;
        padding-right: 90px;
    }
}

@media  screen and (max-width: 1000px) {
    .footer-section {
        padding: 40px 30px 50px;
    }
    .footer-nav {
        padding-right: 90px;
    }
    .footer-nav {
        padding-left: 0;
        padding-right: 90px;
    }
}

@media  screen and (max-width: 999px) {
    .footer-section {
        padding: 12px 20px;
    }
    .footer-submit {
        display: none;
    }
    .footer-button-container {
        display: flex;
        justify-content: space-between;
    }
    .social-items {
        top: 0;
    }
    .social-text {
        display: none;
    }
    .social-networks {
        position: relative;
        bottom: 88px;
    }
    .social-item {
        padding-bottom: 20px;
    }
    .footer-logo {
        border: 1px solid #fff;
        margin-bottom: 40px;
        padding: 3px 0;
        width: 82px;
    }
    .footer-button-container {
        height: 121px;
    }
    .contacts-container {
        justify-content: space-between;
        padding-top: 0;
    }
    h2.logo-title {
        font-size: 19px;
        line-height: 23px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .nav-item {
        padding-right: 36px;
    }
    .footer-nav {
        padding-right: 35px;
    }
}

@media screen and (max-width: 640px) {
    .nav-item {
        padding-right: 36px;
    }
    .footer-nav {
        padding-right: 35px;
    }
}

@media screen and (max-width: 639px) {
    .footer-section {
        padding: 20px 10px;
    }
    .footer-logo {
        border: none;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 45px;
        margin-right: 7px;
        padding-bottom: 0;
        width: 100%;
    }
    h2.logo-title {
        width: 128px;
    }
    .footer-button-container {
        flex-direction: column-reverse;
    }
    .social-networks {
        position: static;
    }
    .social-items {
        display: flex;
        justify-content: space-between;
        padding: 0 53px 30px;
    }
    .social-item {
        padding-bottom: 0;
    }
    .contacts-container {
        align-items: flex-end;
        flex-direction: column-reverse;
        padding-top: 30px;
    }
    .footer-designer-text {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 13px;
    }
    .footer-nav {
        padding-right: 0;
    }
    .nav-items {
        padding-top: 30px;
    }
    .nav-item {
        padding-right: 30px;
    }
    .nav-item:last-child {
        padding-right: 10px;
    }
}

@media (min-width: 1601px) {
    .logo-icon {
        display: none;
    }
}
