@font-face {
    font-family: "Roboto";
    src: url(../../assets/fonts/Roboto.ttf);
}

body, html, ul, ol, li, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1600px;
}

.start-section {
    background-image: url(../../assets/images/start-panda.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-section {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 11px 220px;
}

.start {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo-section {
    border: 1px solid #fff;
    padding: 3.5px 5px;
    margin-right: 63px;
    width: 82px;
}

.logo-link {
    text-decoration: none;
}

.logo-icon {
    left: 236px;
    position: absolute;
    top: 40px;
}

.logo-title {
    color: #fff;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: #fff;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
}

.nav-item {
    list-style: none;
    padding-right: 58px;
}

.highlighted {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.designer-link {
    color: #fff;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
}

.active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.burger-menu {
    display: none;
}

.menu-container {
    display: none;
}

@media screen and (max-width: 1570px) {
    .header-section {
        padding: 15px 180px;
    }
    .logo-icon {
        left: 200px;
    }
}

@media screen and (max-width: 1500px) {
    .header-section {
        padding: 15px 150px;
    }
    .logo-icon {
        left: 170px;
    }
}

@media screen and (max-width: 1440px) {
    .header-section {
        padding: 15px 120px;
    }
    .logo-icon {
        left: 140px;
    }
}

@media screen and (max-width: 1300px) {
    .header-section {
        padding: 15px 90px;
    }
    .logo-section {
        padding: 3px 0;
    }
    .logo-icon {
        left: 105px;
    }
}

@media screen and (max-width: 1150px) {
    .header-section {
        padding: 15px 30px;
    }
    .logo-icon {
        left: 45px;
    }
    .nav-item {
        padding-right: 48px;
    }
}

@media screen and (max-width: 1000px) {
    .header-section {
        padding: 15px 30px;
    }
    .logo-icon {
        left: 45px;
    }
    .nav-item {
        padding-right: 48px;
    }
}

@media screen and (max-width: 999px) {
    .header-section {
        padding: 3px 20px;
        position: fixed;
        width: -webkit-fill-available;
        z-index: 50;
    }
    .logo-section {
        border: none;
        padding: 0;
    }
    .logo-icon {
        left: 24px;
        top: 18px;
        width: 7px;
    }
    .logo-title {
        font-size: 13px;
        line-height: 15px;
        width: 47px;
    }
    .nav-section {
        display: none;
    }
    .designer-section {
        display: none;
    }
    .burger-menu {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 10px;
        justify-content: space-between;
    }
    .burger-line {
        background-color: #fff;
        height: 2px;
        width: 18px;
    }
    .block {
        display: block;
    }
    .menu-container {
        background-color: #fff;
        left: 0;
        padding: 10px 10px 40px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    .menu-item {
        color: #333B41;
        font-size: 16px;
        line-height: 22px;
        list-style: none;
        padding-bottom: 15px;
    }
    .menu-item:last-child {
        padding-bottom: 0;
    }
    .menu-link {
        color: #333B41;
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        text-decoration: none;
    }
    .menu-logo-container {
        border: 1px solid #fe9013;
        margin-bottom: 30px;
        width: 66px;
    }
    .menu-logo-icon {
        left: 20px;
        position: absolute;
        top: 30px;
    }
    .menu-logo-title {
        color: #fe9013;
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
        width: 66px;
    }
}

@media screen and (max-width: 639px) {
    .header-section {
        padding: 3px 10px;
    }
    .logo-section {
        width: 47px;
    }
    .logo-icon {
        left: 15px;
        top: 18px;
        width: 7px;
    }
}

.start-content {
    height: 390px;
}

.feed-section {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 40px 220px 180px;
    opacity: .9;
}

.donation-title {
    color: #fff;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 47px;
    padding-bottom: 10px;
}

.donation-text {
    color: #fff;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding-bottom: 45px;
}

.donation-subtitle {
    color: #FE9013;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 47px;
    padding-bottom: 60px;
}

.feed-container {
    align-items: center;
    background-color: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px 50px 60px 100px;
}

.feed-title {
    color: #FE9013;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    padding-bottom: 30px;
    padding-right: 50px;
    text-align: center;
}

.feed-subtitle {
    color: #333B41;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 40px;
}

.feed-animal-container {
    padding-top: 10px;
}

.animal-amount-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 41px;
}

.diet-container {
    margin-top: 50px;
    padding-right: 11px;
}

.diet-num {
    color: #000;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 72px;
    font-weight: 600;
    line-height: 58px;
    text-align: center;
}

.diet-text {
    color: #333B41;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 11px;
}

.multiple-img-container {
    margin-top: 28px;
    padding-right: 64px;
}

.feed-friends-choise {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.feed-friends-text {
    color: #000;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 20px;
}

.feed-slider {
    background: #404950;
    border-radius: 2px;
    display: flex;
    height: 27px;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    width: 976px;
}

.feed-slider::before {
    content: "";
    width: 93.6%;
    height: 2px;
    background: #72828e;
    position: absolute;
    top: 12px;
}

.feed-sum-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2.7%;
    position: relative;
    transform: translate(3%, -45px);
    width: 920px;
}

.feed-sum-list {
    cursor: pointer;
    background: #ffee2e;
    border-radius: 50%;
    bottom: 10px;
    height: 10px;
    position: relative;
    transition: all 0.2s ease;
    width: 10px;
}

.feed-sum-list:hover::before {
    content: "";
    width: 37px;
    height: 37px;
    border: 2px solid #e47209;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    left: -16px;
    transition: all 0.2s ease;
    z-index: -1;
}

.highlighted-num::before {
    content: "";
    width: 37px;
    height: 37px;
    border: 2px solid #e47209;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    left: -16px;
    transition: all 0.2s ease;
    z-index: -1;
}

.highlighted-num::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #e47209;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: -8px;
    z-index: -1;
    transition: all 0.2s ease;
}

.highlighted-num > .feed-sum-num {
    color: #FE9013;
}

.feed-sum-input {
    cursor: pointer;
    height: 7px;
    opacity: 0;
    transition: all 0.2s ease;
    width: 7px;
}

.feed-sum-num {
    color: #333b41;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 140%;
    left: -12px;
    padding-top: 25px;
    position: relative;
    top: 15px;
    transition: all 0.2s ease;
}

.another-amount {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.feed-amount-input-container {
    margin-bottom: 15px;
}

.feed-amount-input {
    background-color: transparent;
    border: 1px solid #929699;
    border-radius: 2px;
    color: #000;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 120%;
    line-height: 140%;
    margin-bottom: 22px;
    padding: 15px 5px;
    padding-right: 15px;
    position: relative;
    width: 268px;
}

.feed-amount-input:active {
    border: 1px solid #4B9200;
    color: #4B9200;
}

.feed-amount-input:focus {
    border: 1px solid #4B9200;
    color: #4B9200;
}

.feed-amount-input::-webkit-outer-spin-button,
.feed-amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.feed-amount-icon {
    color: #929699;
    font-size: 23px;
    font-weight: 700;
    margin-left: 90%;
    margin-top: -23%;
}

.feed-choice-container {
    display: flex;
    padding-top: 25px;
}

.feed-choice {
    cursor: pointer;
    margin: 0 25px;
}

.feed-choice-input {
    appearance: none;
    border: 1px solid #fe9013;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    position: relative;
    top: 2px;
    width: 15px;
}

.feed-choice-input:checked {
    background-color: #fe9013;
}

.feed-choice-input:active {
    background-color: #4B9200;
}

.feed-choice-text {
    color: #333b41;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.feed-button-container {
    display: flex;
    justify-content: center;
}

.feed-button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 30px;
    padding: 16px 0;
    text-transform: uppercase;
    transition: .3s color ease;
    width: 300px;
}

.feed-button:hover {
    background: #E47209;
}

.feed-button:active {
    background: #4B9200;
}

.share-section {
    display: flex;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    line-height: 22px;
    padding-top: 30px;
}

.animal-img {
    width: 269px;
}

@media screen and (max-width: 1570px) {
    .feed-section {
        padding: 40px 180px 160px;
    }
    .feed-slider {
        width: 970px;
    }
    .feed-sum-container {
        width: 915px;
    }
    .feed-sum-list {
        bottom: 8px;
    }
}

@media screen and (max-width: 1500px) {
    .feed-section {
        padding: 40px 150px 130px;
    }
    .feed-slider {
        width: 920px;
    }
    .feed-sum-container {
        width: 865px;
    }
    .feed-sum-list {
        bottom: 8px;
    }
}

@media screen and (max-width: 1440px){
    .feed-section {
        padding: 40px 30px 30px;
    }
    .donation-title {
        padding-bottom: 30px;
        width: 778px;
    }
    .donation-text {
        padding-bottom: 40px;
    }
    .donation-subtitle {
        padding-bottom: 40px;
    }
    .feed-container {
        padding: 20px 65px 45px;
    }
    .feed-friends-choise {
        align-items: center;
    }
    .feed-sum-container {
        transform: translate(0, -50px);
    }
}

@media  screen and (max-width: 1150px) {
    .feed-subtitle {
        width: 850px;
    }
    .feed-slider {
        width: 830px;
    }
    .feed-sum-container {
        width: 785px;
    }
    .item-5000 {
        display: none;
    }
    .feed-friends-choise {
        align-items: flex-start;
    }
    .feed-sum-container {
        transform: translate(3%, -45px);
    }
}

@media  screen and (max-width: 1000px) {
    .feed-subtitle {
        width: 850px;
    }
    .feed-slider {
        width: 830px;
    }
    .feed-sum-container {
        width: 785px;
    }
    .item-5000 {
        display: none;
    }
    .feed-friends-choise {
        align-items: flex-start;
    }
    .feed-sum-container {
        transform: translate(3%, -45px);
    }
}

@media  screen and (max-width: 999px) {
    .start-content {
        height: 335px;
        padding-top: 34px;
    }
    .feed-section {
        padding: 30px 20px 45px;
    }
    .donation-title {
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 20px;
        width: 600px;
    }
    .donation-text {
        padding-bottom: 30px;
    }
    .donation-subtitle {
        font-size: 36px;
        padding-bottom: 30px;
    }
    .feed-container {
        padding: 30px 0;
    }
    .feed-title {
        padding-bottom: 20px;
        padding-right: 0;
    }
    .feed-subtitle {
        text-align: center;
        width: 600px;
    }
    .animal-amount-container {
        justify-content: space-around;
        padding: 0 50px 41px;
    }
    .feed-friends-choise {
        padding-left: 20px;
    }
    .feed-slider {
        width: 780px;
    }
    .feed-sum-container {
        width: 735px;
    }
}

@media screen and (max-width: 850px) {
    .feed-friends-text {
        padding-left: 10px;
    }
    .feed-friends-choise {
        padding-left: 0;
    }
    .feed-slider {
        width: 728px;
    }
    .feed-sum-container {
        width: 685px;
    }
    .item-2000 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .feed-sum-container {
        transform: translate(3%, -40px);
    }
    .item-1000 {
        display: none;
    }
    .highlighted-100::before {
        content: "";
        width: 37px;
        height: 37px;
        border: 2px solid #e47209;
        border-radius: 50%;
        position: absolute;
        top: -16px;
        left: -16px;
        transition: all 0.2s ease;
        z-index: -1;
    }
    .highlighted-100::after {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid #e47209;
        border-radius: 50%;
        position: absolute;
        top: -8px;
        left: -8px;
        z-index: -1;
        transition: all 0.2s ease;
    }
    .highlighted-100 > .feed-sum-num {
        color: #FE9013;
    }
    .feed-slider {
        width: 600px;
    }
    .feed-sum-container {
        width: 565px;
    }
    .feed-amount-input {
        margin-bottom: 30px;
        padding: 10px 5px;
        padding-right: 10px;
        width: 180px;
    }
    .feed-amount-icon {
        margin-top: -34%;
    }
}

@media screen and (max-width: 640px) {
    .feed-sum-container {
        transform: translate(3%, -40px);
    }
    .item-1000 {
        display: none;
    }
    .highlighted-100::before {
        content: "";
        width: 37px;
        height: 37px;
        border: 2px solid #e47209;
        border-radius: 50%;
        position: absolute;
        top: -16px;
        left: -16px;
        transition: all 0.2s ease;
        z-index: -1;
    }
    .highlighted-100::after {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid #e47209;
        border-radius: 50%;
        position: absolute;
        top: -8px;
        left: -8px;
        z-index: -1;
        transition: all 0.2s ease;
    }
    .highlighted-100 > .feed-sum-num {
        color: #FE9013;
    }
    .feed-slider {
        width: 600px;
    }
    .feed-sum-container {
        width: 565px;
    }
    .feed-amount-input {
        margin-bottom: 30px;
        padding: 10px 5px;
        padding-right: 10px;
        width: 180px;
    }
    .feed-amount-icon {
        margin-top: -34%;
    }
}

@media screen and (max-width: 639px) {
    .start-content {
        height: 187px;
    }
    .feed-section {
        padding: 30px 10px 20px;
    }
    .donation-title {
        width: 300px;
    }
    .donation-text {
        padding-bottom: 25px;
    }
    .donation-subtitle {
        font-size: 24px;
        line-height: 29px;
    }
    .feed-container {
        padding: 20px 0;
    }
    .feed-title {
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 10px;
    }
    .feed-subtitle {
        font-size: 16px;
        line-height: 22px;
        padding: 0;
        width: 300px;
    }
    .animal-amount-container {
        justify-content: space-around;
        padding: 0 0 4px;
    }
    .diet-num {
        font-size: 40px;
        line-height: 32px;
    }
    .diet-container {
        margin-top: 10px;
        padding-right: 0;
    }
    .diet-text {
        font-size: 10px;
        line-height: 13px;
        padding-top: 6px;
    }
    .multiple-img-container {
        margin-top: 0;
        padding-right: 30px;
    }
    .multiple-img {
        width: 8px;
    }
    .animal-img {
        width: 152px;
    }
    .feed-slider {
        width: 300px;
    }
    .feed-sum-container {
        transform: translate(3%, -28px);
        width: 285px;
    }
    .feed-friends-text {
        padding-bottom: 8.5px;
        padding-left: 0;
    }
    .feed-sum-num {
        font-size: 13px;
        line-height: 18px;
        left: -8px;
        padding-top: 25px;
        top: 15px;
    }
    .feed-sum-list {
        height: 7px;
        width: 7px;
    }
    .highlighted-num::after {
        width: 14px;
        height: 14px;
        top: -5.5px;
        left: -5.5px;
    }
    .highlighted-100::after {
        width: 14px;
        height: 14px;
        top: -5.5px;
        left: -5.5px;
    }
    .highlighted-num::before {
        width: 24px;
        height: 24px;
        top: -10px;
        left: -10px;
    }
    .highlighted-100::before {
        width: 24px;
        height: 24px;
        top: -10px;
        left: -10px;
    }
    .feed-amount-input {
        font-size: 16px;
        line-height: 22px;
    }
}

.footer-section {
    background-color: #111115;
    padding: 40px 220px 50px;
    z-index: 1;
}

.footer-logo {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.footer-submit {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.subscribe-title {
    color: #fff;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 14px;
}

.subscribe-form {
    display: flex;
    justify-content: space-between;
}

.email-place {
    background-color: #111115;
    border: .7px solid #F9804B;
    border-radius: 2px;
    color: #BDBDBD;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-right: 10px;
    padding: 10px;
    width: 230px;
}

.email-place:focus {
    border: 1px solid #4B9200;
    color: #4B9200;
}

.email-place:focus+.submit-button {
    border: 1px solid #4B9200;
    color: #4B9200;
}

.submit-button {
    background-color: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
    color: #333B41;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    width: 130px;
}

.submit-button:active {
    border: 1px solid #4B9200;
    color: #4B9200;
}

.submit-button:active~.email-place {
    border: 1px solid #4B9200;
    color: #4B9200;
}

.mistaken {
    border: 1px solid #D31414;
    color: #D31414;
}

.footer-button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding: 18px 0;
    text-transform: uppercase;
    transition: .3s color ease;
    width: 298px;
}

.footer-button:hover {
    background: #E47209;
}

.footer-button:active {
    background: #4B9200;
}

.contacts-container {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}

.social-items {
    position: relative;
    top: 100px;
}

.social-item {
    cursor: pointer;
    list-style: none;
    padding-bottom: 10px;
}

.social-item:last-child {
    padding-bottom: 0;
}

.social-link:active > .social-icon-container {
    background-color: #4B9200;
}

.social-link:active > .social-text {
    color: #4B9200;
}

.social-link {
    display: flex;
    text-decoration: none;
}

.social-icon-container {
    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    height: 20px;
    text-align: center;
    padding-top: 5.5px;
    width: 26px;
}

.social-text {
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 12px;
    padding-top: 3px;
}

.footer-nav {
    padding-left: 150px;
}

.footer-designer-link {
    cursor: pointer;
    text-decoration: none;
}

.footer-designer-text {
    color: rgba(255, 255, 255, .4);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 21px;
    margin-bottom: 9px;
}

.footer-designer-text:last-child {
    margin-bottom: 0;
}

.footer-designer-link:active > .footer-designer-text {
    border-bottom: 1px solid #4B9200;
    color: rgba(75, 146, 0, .4);
    margin-bottom: 8px;
}

.footer-designer-link:active > .footer-designer-text:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1570px) {
    .footer-section {
        padding: 40px 180px 50px;
    }
}

@media screen and (max-width: 1500px) {
    .footer-section {
        padding: 40px 150px 50px;
    }
}

@media screen and (max-width: 1440px) {
    .footer-section {
        padding: 40px 120px 50px;
    }
}

@media screen and (max-width: 1440px){
    .footer-section {
        padding: 40px 90px 50px;
    }
}

@media  screen and (max-width: 1150px) {
    .footer-section {
        padding: 40px 30px 50px;
    }
    .footer-nav {
        padding-left: 0;
        padding-right: 90px;
    }
}

@media  screen and (max-width: 1000px) {
    .footer-section {
        padding: 40px 30px 50px;
    }
    .footer-nav {
        padding-left: 0;
        padding-right: 90px;
    }
}

@media  screen and (max-width: 999px) {
    .footer-section {
        padding: 12px 20px;
    }
    h2.logo-title {
        font-size: 19px;
        line-height: 23px;
        text-align: center;
    }
    .footer-submit {
        display: none;
    }
    .footer-button-container {
        display: flex;
        justify-content: space-between;
    }
    .social-items {
        top: 0;
    }
    .social-text {
        display: none;
    }
    .social-networks {
        position: relative;
        bottom: 90px;
    }
    .social-item {
        padding-bottom: 20px;
    }
    .footer-logo {
        border: 1px solid #fff;
        margin-bottom: 40px;
        padding: 3px 0;
        width: 82px;
    }
    .footer-button-container {
        height: 92px;
    }
    .contacts-container {
        justify-content: space-between;
        padding-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .nav-item {
        padding-right: 36px;
    }
    .footer-nav {
        padding-right: 35px;
    }
}

@media screen and (max-width: 640px) {
    .nav-item {
        padding-right: 36px;
    }
    .footer-nav {
        padding-right: 35px;
    }
}

@media screen and (max-width: 639px) {
    .footer-section {
        padding: 20px 10px;
    }
    .footer-logo {
        border: none;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 45px;
        margin-right: 7px;
        padding-bottom: 0;
        width: 100%;
    }
    h2.logo-title {
        font-size: 19px;
        line-height: 23px;
        width: 128px;
    }
    .footer-button-container {
        flex-direction: column-reverse;
    }
    .social-networks {
        position: static;
    }
    .social-items {
        display: flex;
        justify-content: space-between;
        padding: 0 53px 30px;
    }
    .social-item {
        padding-bottom: 0;
    }
    .contacts-container {
        align-items: flex-end;
        flex-direction: column-reverse;
        padding-top: 30px;
    }
    .footer-designer-text {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 13px;
    }
    .footer-nav {
        padding-right: 0;
    }
    .nav-items {
        padding-top: 30px;
    }
    .nav-item {
        padding-right: 30px;
    }
    .nav-item:last-child {
        padding-right: 10px;
    }
}

@media (min-width: 1601px) {
    .logo-icon {
        display: none;
    }
}
